
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a, .logout {
	color: #34495e;
	text-decoration: none;
}





.logo {
     width: 100px; 
     height: 80px;  
}

.main-nav {
	margin-top: 5px;

}
.main-nav a ,.logout{
	padding: 0px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #34495e;
	font-size: .99em;
}



.main-nav a:hover ,.logout:hover{
	color: white;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: crimson;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.logout{
	background-color: transparent; 
	border: solid 1px transparent;
	&:hover {
    border-color: #fff;
    transition: all .1s ease-in-out;
    	 border-radius: 6px;
  }
}


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
		align-items:center;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	    
	}

}
