<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/header.css}" href="../static/css/header.css" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8">
    <title>Edit Ticket</title>
</head>
<body>
<div class="login">
	
<h1>Edit Ticket</h1>
<form th:action="@{/editTicket}" method="post" th:object="${ticket}">
   
   
   <select id="userSelect" name="userName">
    UserName: <option th:value="${holder}" th:text="${holder}"></option>
    <option th:each="user : ${users}" 
            th:value="${user}" 
            th:text="${user}">
    </option>
    </select>
    <br><br>
    <input type="hidden" th:field="*{ticketId}">

    Guest Name: <br> <input type="text" th:field="*{guestName}"> <br><br>
    Price : <br><input type="number" name="pricey" th:value="${#numbers.formatDecimal(ticket.price,1,2)}" step="0.01"> <br><br>
    Seat Number:<br>  <input type="text" th:field="*{seat}"> <br><br>
    Type of Ticket:<br> <input type="text" th:field="*{ticketType}"> <br><br>
    Ticket Description:<br>  <input type="text" th:field="*{ticketDescription}"> <br><br>
    Secret Code:<br> <input type="number" th:field="*{secretCode}"> <br><br>
    <input type="hidden" th:field="*{userId}">        
    <input type="hidden" th:field="*{price}">

 
    <input class="submit" type="submit" value="Confirm">
</form>
</div>
</body>
</html>
